* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#dev-app-1 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

::selection {
    color: black;
    background-color: white;
    width: 20px;
    height: 30px;
    outline: none;
}